@page
@using CRM.Utility
@model CRM.Pages.TaskAssignment.DetailModel
@{
}
@if (User.IsInRole(SD.ManagerRole) || User.IsInRole(SD.RootRole) || User.IsInRole(SD.SupervisorRole))
{
    <form method="post" asp-action="Detail">
        <div class="container">
            <div class="row px-2 mx-2 backgroundWhite border">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @if (Model.TaskAssignmentObj.TaskAssignment.Id != 0)
                {
                    <input type="hidden" asp-for="TaskAssignmentObj.TaskAssignment.Id" />
                }

                <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
                    <h2 class="text-primary page-header pb-3"><i class="fa fa-info-circle" aria-hidden="true"></i> Task Details</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-page="/User/Home/Index">Home</a></li>
                        <li class="breadcrumb-item"><a asp-page="./Index">Task Assignment</a></li>
                        <li class="breadcrumb-item active">Task Details</li>
                    </ol>
                </div>

                <div class="col-8 pt-3">
                    <div class="form-group row">
                        <div class="col-4 pt-3">
                            <label asp-for="TaskAssignmentObj.TaskAssignment.Account"></label>
                        </div>
                        <div class="col-8 pt-3">
                            @Html.DropDownListFor(m => m.TaskAssignmentObj.TaskAssignment.AccountId,
                                                     Model.TaskAssignmentObj.AccountList,
                                                     "- Please select an Account -",
                                                     new { @class = "form-control detail-form", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="TaskAssignmentObj.TaskAssignment.Task"></label>
                        </div>
                        <div class="col-8">
                            @Html.DropDownListFor(m => m.TaskAssignmentObj.TaskAssignment.TaskId,
                                                    Model.TaskAssignmentObj.TaskList,
                                                    "- Please select a Task -",
                                                    new { @class = "form-control detail-form", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="TaskAssignmentObj.TaskAssignment.ApplicationUser"></label>
                        </div>

                        <div class="col-8">
                            @Html.DropDownListFor(m => m.TaskAssignmentObj.TaskAssignment.ApplicationUserId,
                                                     Model.TaskAssignmentObj.ApplicationUserList,
                                                     "- Please select an Employee -",
                                                     new { @class = "form-control detail-form", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="TaskAssignmentObj.TaskAssignment.Department"></label>
                        </div>

                        <div class="col-8">
                            @Html.DropDownListFor(m => m.TaskAssignmentObj.TaskAssignment.DepartmentId,
                                                    Model.TaskAssignmentObj.DepartmentList,
                                                    "- Please select a Department -",
                                                    new { @class = "form-control detail-form", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label>Created</label>
                        </div>

                        <div class="col-8">
                            <label class="">@Html.DisplayFor(model => Model.TaskAssignmentObj.TaskAssignment.StartDate)</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="TaskAssignmentObj.TaskAssignment.DueDate"></label>
                        </div>

                        <div class="col-8">
                            <label class="">@Html.DisplayFor(model => Model.TaskAssignmentObj.TaskAssignment.DueDate)</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="TaskAssignmentObj.TaskAssignment.Notes"></label>
                        </div>

                        <div class="col-8">
                            <textarea class="">@Html.DisplayFor(model => Model.TaskAssignmentObj.TaskAssignment.Notes)</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label>Status</label>
                        </div>

                        <div class="col-8">
                            @if (Model.TaskAssignmentObj.TaskAssignment.Completed)
                            {
                                <b class="text-primary">Completed</b>
                            }
                            else
                            {
                                <b class="text-danger">Pending</b>
                            }

                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-8 offset-4">
                            <div class="row">
                                <div class="col-6 pt-4">
                                    <button type="submit" class="btn btn-primary form-control"><i class="fas fa-clipboard-check"></i> Complete</button>
                                </div>
                                <div class="col-6 pt-4">
                                    <a asp-page="./Index" class="btn btn-success form-control"><i class="fas fa-arrow-circle-left"></i>  Back To List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4" style="padding-top: 4em;">
                    <img src="~/images/ttd-det.png" width="100%" />
                </div>
            </div>
        </div>
    </form>
}
else
{
    <div class="container-lg">
        <img style="padding-left:70px;" src="~/images/Access-Denied.png" />
    </div>
}
@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            readonly: 1,
            menubar: 'file edit format'
        });
    </script>
}
